body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    height: 800px; /* Contoh tinggi konten */
}

.footer {
    background-color: rgb(7, 84, 185);
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-section h2 {
    color: #fff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px 0;
}
